<div class="d-flex justify-content-start">
    <div class="">
        <app-switch-set [labels]="switchLabels" [(model)]="switches" (switchChange)="switchesChange($event)"></app-switch-set>
    </div>
    <div class="border-left m-0 ml-2 p-1 pl-3 pr-2">
        <div class="d-flex justify-content-center mb-1">
            <div class="col-4 p-0"><button type="button" class="btn btn-primary w-100 h-100" (click)="click('up')" (mousedown)="pressed('up')" (mouseup)="released('up')">U</button></div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-4 p-0"><button type="button" class="btn btn-primary w-100 h-100" (click)="click('left')" (mousedown)="pressed('left')" (mouseup)="released('left')">L</button></div>
            <div class="col-4 p-0 ml-1 mr-1"><button type="button" class="btn btn-primary w-100 h-100" (click)="click('centre')" (mousedown)="pressed('centre')" (mouseup)="released('centre')">C</button></div>
            <div class="col-4 p-0"><button type="button" class="btn btn-primary w-100 h-100" (click)="click('right')" (mousedown)="pressed('right')" (mouseup)="released('right')">R</button></div>
        </div>
        <div class="d-flex justify-content-center mt-1">
            <div class="col-4 p-0"><button type="button" class="btn btn-primary w-100 h-100" (click)="click('down')" (mousedown)="pressed('down')" (mouseup)="released('down')">D</button></div>
        </div>
    </div>
</div>