<div>
    <div>
        <h3>Xilinx Virtual Cable endpoint:</h3>
        <div>
            Host name: <a class="text-monospace">{{url?.hostname}}</a><br>
            Port: <a class="text-monospace">{{url?.port}}</a>
        </div>
    </div>
    <div>
        <h3>Connection Instructions:</h3>
        <ol>
            <li>
                Access a Windows computer with Vivado installed (e.g. <a href="https://remoteaccess.labstats.com/university-of-tasmania#computer-group_1191">remote desktop into an Engineering PC Lab computer</a>).
            </li>
            <li>
                Open Vivado (you should see a link on the Desktop):<br>
                <img src="/assets/Vivado.png" width="61" height="90" alt="Open Vivado">
            </li>
            <li>
                Either connect directly to the hardware manager from the welcome screen:<br>
                <img src="/assets/Vivado-HWManager-WelcomeScreen.png" alt="Vivado > Welcome Screen > Tasks > Open Hardware Manager"><br>
                <strong>OR</strong><br>
                Open a project and click on the <em>Open Hardware Manager</em> option in the <em>Flow Navigator</em> under <em>PROGRAM AND DEBUG</em>:<br>
                <img src="/assets/Vivado-HWManager-ProjectManager.png" alt="Vivado > Flow Navigator > PROGRAM AND DEBUG > Open Hardware Manager">
            </li>
            <li>
                Click on <em>Open target</em> and select <em>Auto Connect</em>:<br>
                <img src="/assets/Vivado-HWManager-OpenTarget.png" alt="Hardware Manager > Open target > Auto Connect">
            </li>
            <li>
                In the <em>Hardware</em> window right click on <em>localhost</em> and select <em>Add Xilinx Virtual Cable</em>:<br>
                <img src="/assets/Vivado-Hardware-AddXVC.png" alt="Hardware Window > Right Click > Add Xilinx Virtual Cable">
            </li>
            <li>
                Enter the following details then click OK:<br>
                Host name: <a class="text-monospace">{{url?.hostname}}</a><br>
                Port: <a class="text-monospace">{{url?.port}}</a>
            </li>
        </ol>
    </div>
</div>