<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel [class]="model ? 'btn-success' : 'btn-secondary'" class="p-1">
        <input ngbButton type="radio" [value]="true"> On
    </label>
    <label ngbButtonLabel [class]="model ? 'btn-secondary' : 'btn-warning'" class="p-1">
        <input ngbButton type="radio" [value]="false"> Off
    </label>
</div>
  